body {
  padding: 2%;
  background-color: #e0e0e0;
  color: black;
  font-size: 1.2em;
}

header {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px #121212;
}

h1 {
  font-size: 2.25em;
  padding: 1%;
}

h2 {
  font-size: 1.75em;
  line-height: 1;
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid #e0e0e0;
}

.bold {
  font-weight: bolder;
}

.red-font {
  color: red;
}

.green-font {
  color: green;
}

.s12 {
  width: 100% !important;
}

.left-box,
.right-box { 
  margin-bottom: 2%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px #121212;
}

.list-item {
  align-items: center;
}

.collection-item {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#search-term {
  width: 70%;
  margin-right: 2%;
}

#add {
  width: 28%;
}

.crypto {
  margin-right: 15px;
}

#warning {
  width: 50%;
  text-align: right;
  color: red;
}



/* Dark mode colors */
.dark-mode {
  background-color: #121212;
  color: #03DAC5;
}

.dark-mode div.col.left-box {
  background-color:#212121;
}

.dark-mode div.col.right-box {
  background-color:#212121;
}

.dark-mode .collection-item {
  background-color:#212121
}

.dark-mode header {
  background-color:#212121 ;
}



/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Large smartphones */
@media only screen and (min-width: 601px) {
  
}

/* Tablets */
@media only screen and (min-width: 993px) {
  .l6 {
    width: 49% !important;
  }

  .left-box {
    margin-right: 2%;
  }
  
  .right-box {
    margin-left: 2%;
  }
}



@media only screen and (min-width: 1301px) {
  .xl4 {
    width: 32.333% !important;
  }
  .xl8 {
    width: 65.666% !important;
  }
  
  .left-box {
    margin-right: 2%;
  }
  
  .right-box {
    margin-left: 2%;
  }
}