body {
  padding: 25px;
  background-color: #e0e0e0;
  color: black;
  font-size: 25px;
}
.row {
  margin-left: auto !important;
}
.dark-mode {
  background-color: #121212;
  color: #03DAC5;
}
.dark-mode div.col.s9 {
  background-color:#212121;
}
.dark-mode div.col.s2 {
  background-color:#212121 ;
}
.dark-mode header.col-12.center.test {
  background-color:#212121 ;
}
div.col.s9 { 
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px #121212;
}

div.col.s2{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px #121212;
}

header.col-12.center.test{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px #121212;
}

.rightBox {
  margin-right: 2%;
}
